<h1>映画一覧</h1>
<%= paginate @movies %>
  
    <% @movies.each do |movie| %>
        <%= f.label :タイトル %>
        <%= movie.title %>
      <p>ジャンル(洋画or邦画)
      <%= movie.category_id %></p>
      <p>画像を表示する</p>
      <p>レビュー数
      <%= movie.review.comment %>
      </p>
    <% end %>
  
  <%= link_to "投稿する",new_review_path, data: {"turbolinks" => false},class: "btn btn-success" %>
