<table>
  <h1>会員情報編集</h1>
    <%= form_with model: @user, local: true do |f| %>
      <div class="field">
        <%= f.label :姓 %><br/>
        <%= f.text_field :last_name, autofocus: true, autocomplete: "family-name", class: "form-control-sm"  %>
      </div>
      <div class="field">
        <%= f.label :名 %><br/>
        <%= f.text_field :first_name, autofocus: true, autocomplete: "given-name", class: "form-control-sm"  %>
      </div>

      <div class="field">
        <%= f.label :ニックネーム %><br/>
        <%= f.text_field :nickname,autofocus: true,autocomplete: "nickname" ,class: "form-inline input-sm" %>
      </div>

      <div class="field">
        <%= f.label :メールアドレス %><br/>
        <%= f.text_field :email,autofocus: true,autocomplete: "email" ,class: "form-inline input-sm" %>
      </div>
      <%= f.submit "編集内容を保存", class: "btn btn-sm btn-success" %>
    <% end %>
</table>