<div class='user_container'> 
  <div class='container'>
    <div class='row'>
      <div class='mx-auto col-8 py-3'>
        <div class="row offset-1 mb-4 ">
            <h1><i class="fas fa-pager">会員情報編集</i></h1>
          <%= form_with model: @user, local: true do |f| %>
            <table class="table table-bordered table-condensed">
              <tbody>
                <div class="form-grop row">
                  <div class="col-form-label col-sm-3">
                    <tr class="col-xs-5 border border-dark table-light">
                      <td style = "width:20%">氏</td>
                      <td class = "info border border-dark table-info">
                        <%= f.text_field :last_name, autofocus: true, autocomplete: "family-name", class: "form-control-sm"  %>
                      </td>
                    </tr>
                  </div>
                </div>
                
                <div class="form-grop row">
                  <div class="col-form-label col-sm-3">
                    <tr class="col-xs-5 border border-dark table-light">
                      <td>名</td>
                      <td class = "info border border-dark table-info">
                        <%= f.text_field :first_name, autofocus: true, autocomplete: "given-name", class: "form-control-sm"  %>
                      </td>
                    </tr>
                  </div>
                </div>
          
                <div class="form-grop row">
                  <div class="col-form-label col-sm-3">
                    <tr class="col-xs-5 border border-dark table-light">
                      <td>ニックネーム</td>
                      <td class = "info border border-dark table-info">
                        <%= f.text_field :nickname,autofocus: true,autocomplete: "nickname" ,class: "form-inline input-sm" %>
                      </td>
                    </tr>
                  </div>
                </div>
          
                <div class="form-grop row mb-3">
                  <div class="col-form-label col-sm-3">
                    <tr class="col-xs-5 border border-dark table-light">
                      <td><%= f.label :メールアドレス %></td>
                      <td class = "info border border-dark table-info">
                        <%= f.text_area :email,autofocus: true,autocomplete: "email" ,class: "form-inline input-sm" %>
                      </td>
                    </tr>
                  </div>
                </div>
              </tbody>
            </table>
            <p><%= f.submit "編集内容を保存", class: "btn btn-sm btn-success" %></p>
          <% end %>
          <%= link_to '戻る',users_my_page_path,class: "text-danger" %>
        </div>
      </div>
    </div>
  </div>
</div>