<h1>会員情報編集</h1>
  <%= form_with model: @customer, local: true do |f| %>
    <div class="field">
      <%= f.label :姓 %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>
    <div class="field">
      <%= f.label :名 %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :ニックネーム %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <%= f.submit "編集内容を保存", class: "btn btn-sm btn-success" %>
  <% end %>