<h1>マイページ</h1>
  <%= form_with model: @customer, local:true do |f| %>
      <div class="field">
        <%= f.label :姓 %><br />
        <%= @customer.last_name %> 
      </div>
      <div class="field">
        <%= f.label :名 %><br />
        <%= @customer.first_name %> 
      </div>

      <div class="field">
        <%= f.label :ニックネーム %><br />
        <%= @customer.nickname %> 
      </div>

      <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= @customer.email %> 
      </div>
  <% end %>
<%= link_to "編集する"  %>
<%= link_to "退会する" ,customers_path %>
