  <h1>レビュー一覧</h1>
  <%= link_to "投稿するページへ",new_review_path, data: {"turbolinks" => false} %>
   <%= paginate @reviews %>
    <table>
        <% @reviews.each do |review| %>
            <p>
            投稿日時
            </p>
            <%= l review.created_at %>
            <p>投稿者
            <%= review.user.nickname %>
            </p>
            <p>タイトル
            <%= review.title %>
            </p>
            <p>ジャンル
            <%= review.review %>
            </p>
            <p>評価</p>
            
            <p>レビュー内容
            <%= review.comment %>
            
            <p><%= render 'reviews/like', review: review %></p>
            <p><%=link_to "詳細を見る",review_path(review.id) %>
            </p>
    </table>
  <% end %>