  <h1>レビュー一覧</h1>
  <%= link_to "投稿する",new_review_path, data: {"turbolinks" => false},class: "btn btn-success" %>

   <%= paginate @reviews %>
    <table>
        <% @reviews.each do |review| %>
            <p>
            投稿日時
            </p>
            <%= l review.created_at %>
            <p>投稿者</p>
            <%= review.user.nickname %>

            <p>タイトル
            %= review.movie.title %
            </p>
            <p>ジャンル
            %= review.movie.category_id %
            </p>
            <p>評価</p>
            <td class="review-value" data-score="<%= review.value %>"></td>
              <script>
                $('.review-value').raty({
                  readOnly: true,
                  score: function() {
                  },
                  path: '/assets/'
                });
              </script>
            <p>レビュー内容
            <%= review.comment %>

            <p><%= render 'reviews/like', review: review %></p>
            <p><%=link_to "詳細を見る",review_path(review.id) %>
            </p>
    </table>
  <% end %>