<h1>レビュー一覧</h1>
<%= form_with model:@review, local:true do |f| %>
  <table>
      <% @reviews.each do |review| %>
          投稿日時
          <td><%= l review.created_at %>
          投稿者(ニックネーム)
          <%= review.user.nickname %>
          レビュー内容
          <%= review.comment %>
          いいね・お気に入り
          <td>
      <% end %>
          <%= link_to "投稿する",new_review_path %>
  </table>
<% end %>