  <h1>レビュー一覧</h1>
  <%= link_to "投稿する",new_review_path, data: {"turbolinks" => false} %>
    <table>
        <% @reviews.each do |review| %>
            <p>
            投稿日時
            <%= l review.created_at %>
            投稿者
            <%= review.user.nickname %>
            タイトル
            <%= review.title %>
            レビュー内容
            <%= review.comment %>
            <%= render 'reviews/like', review: review %>
            <%=link_to "詳細を見る",review_path(review.id) %>
            </p>
    </table>
  <% end %>