  <div class='review_container'>
    <% if flash[:notice] %>
      <p id="notice">
      <%= flash[:notice] %>
      </p>
    <% end %>
    
    <div class='container'>
      <div class='row'>
        <div class='mx-auto col-5 py-3'>
          <div class="row offset-1 mb-4 ">
            <h1><i class="far fa-file-pdf">レビュー一覧</i></h1>
            <p><%= link_to "見本へ", reviews_about_path,class: "btn btn-primary" %></p>
            <p><%= link_to "投稿する",new_review_path, data: {"turbolinks" => false},class: "btn btn-success" %></p>
            <div class = "search_area">
              <%= render 'reviews/search', review: @review %>
            </div>
            <div class = "pagenation">
              <%= paginate @reviews %>
            </div>
            <% @reviews.each do |review| %>
              <table class="table table-bordered table-condensed">
                <tbody>
                  
                  <div class="form-grop row">
                    <div class="col-form-label col-sm-3">
                      <tr class="col-xs-5 border border-dark table-light">
                        <td style = "width:30%">投稿日時</td>
                        <td class="info border border-dark table-info">
                          <%= l review.created_at %><br/><!--年月日を記載-->
                        </td>
                      </tr>
                    </div>
                  </div>
      
                  <div class="form-grop row">
                    <div class="col-form-label col-sm-3">
                      <tr class="col-xs-5 border border-dark table-light">
                        <td>ニックネーム</td>
                        <td class="info border border-dark table-info">
                          <%= review.user.nickname %><br/>
                        </td>
                      </tr>
                    </div>
                  </div>
      
                  <div class="form-grop row">
                    <div class="col-form-label col-sm-3">
                      <tr class="col-xs-5 border border-dark table-light">
                        <td>タイトル</td>
                        <td class="info border border-dark table-info">
                          <%= review.title %>
                        </td>
                      </tr>
                    </div>
                  </div>
      
                  <div class="form-grop row">
                    <div class="col-form-label col-sm-3">
                      <tr class="col-xs-5 border border-dark table-light">
                        <td>種類</td>
                        <td class="info border border-dark table-info">
                          <%= review.category %>
                        </td>
                      </tr>
                    </div>
                  </div>
                  
                   <div class="form-grop row">
                    <div class="col-form-label col-sm-3">
                      <tr class="col-xs-5 border border-dark table-light">
                        <td>ジャンル</td>
                        <td class="info border border-dark table-info">
                          <%= review.genre %>
                        </td>
                      </tr>
                    </div>
                  </div>
      
                  <div class="form-grop row">
                    <div class="col-form-label col-sm-3">
                      <tr class="col-xs-5 border border-dark table-light">
                        <td>評価</td><!--星での評価 javascriptで-->
                          <td class="review-value info border border-dark table-info" data-score="<%= review.value %>"></td>
                      </tr>
                    </div>
                  </div>
      
                  <div class="form-grop row">
                    <div class="col-form-label col-sm-3">
                      <tr class="col-xs-5 border border-dark table-light">
                        <td>点数(-1.0〜1.0)</td>
                        <td class="info border border-dark table-info">
                        <% if review.score > -1.0 && review.score < 0 %>
                          <span class="sentiment-score"><i class="far fa-times-circle"></i><%= review.score %>点</span>
                        <% elsif review.score > 0  && review.score < 0.6 %>
                          <span class="normal-score"><i class="far fa-circle"></i><%= review.score %>点</span>
                        <% else review.score > 0.5 && review.score <=1.0 %>
                         <span class="high-score"><i class="far fa-star"></i><%= review.score %>点</span>
                        <% end %>
                        </td>
                      </tr>
                    </div>
                  </div>
                  
                  <div class="form-grop row">
                    <div class="col-form-label col-sm-3">
                      <tr class="col-xs-5 border border-dark table-light">
                        <td>ネタバレの有無</td>
                        <td class="info border border-dark table-info">
                          <span class = "spoiler_color">
                            <%= review.spoiler %>
                          </span>
                        </td>
                      </tr>
                    </div>
                  </div>
      
                  <div class="form-grop row">
                    <div class="col-form-label col-sm-3">
                      <tr class="col-xs-5 border border-dark table-light">
                        <td>いいね</td>
                          <td class="info border border-dark table-info" id = "like_buttons_<%= review.id %>">
                            <%= render 'reviews/like', review: review %>
                          </td>
                      </tr>
                    </div>
                  </div>
                          
                  <p><%=link_to "レビュー詳細へ",review_path(review.id),class: "btn btn-danger" %>
                  </p>
                </tbody>
              </table>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>