<%= form_with model:@review, local:true do |f| %>
  <table>
    <div class="form-grop row">
      <div class="col-form-label col-sm-3">
        <tr>
          <h1>レビュー投稿</h1>
            <p>タイトル</p>
            <%= f.text_field :title, autofocus: true %>
            <p>ジャンル</p>
            <%= f.select :review, [["洋画", "洋画"], ["邦画", "邦画"]], include_blank: "選択して下さい" %>
            <!--<p>評価</p>-->
            
            <p>レビュー</p>
            <%= f.text_area :comment, autofocus: true %>
            <%= f.submit '投稿する' %>
        </tr>
       </div>
    </div>
  </table>
<% end %>
<%= link_to '戻る',reviews_path %>