<div class='review_container2'>
  <div class="container">
    <div class="row">
      <div class='mx-auto col-5 col-sm-5 col-lg-8 col-xl-8'>
        <%= form_with model:@review, local:true do |f| %>
          <table class="table table-bordered table-condensed">
            <tbody>
              
              <div class="form-grop row">
                <div class="col-form-label col-sm-3">
                  <tr class="col-xs-5 border border-dark table-light">
                    <h1><i class="far fa-file-pdf">レビュー投稿</i></h1>
                    <td style = "width:20%">タイトル</td>
                    <td class = "info border border-dark table-info">
                      <%= f.text_area :title,rows:'3', autofocus: true %>
                    </td>
                  </tr>
                </div>
              </div>
                
              <div class="form-grop row">
                <div class="col-form-label col-sm-3">
                  <tr class="col-xs-5 border border-dark table-light">
                    <td>種類</td>
                    <td class = "info border border-dark table-info">
                      <%= f.select :category,Review.categories.keys, include_blank: "選択して下さい" %>
                    </td>
                  </tr>
                </div>    
              </div>
                
              <div class="form-grop row">
                <div class="col-form-label col-sm-3">
                  <tr class="col-xs-5 border border-dark table-light">
                    <td>ジャンル</td>
                    <td class = "info border border-dark table-info">
                      <%= f.select :genre,Review.genres.keys, include_blank: "選択して下さい" %>
                    </td>
                  </tr>
                </div>
              </div>
                
              <div class="form-grop row">
                <div class="col-form-label col-sm-3">
                  <tr class="col-xs-5 border border-dark table-light">
                    <td>評価</td>
                    <td class = "info border border-dark table-info">
                      <div id="value_stars">
                        <script>
                          $('#value_stars').raty({
                          starOn: "<%= asset_path('star-on.png') %>",
                          starOff: "<%= asset_path('star-off.png') %>",
                          starHalf: "<%= asset_path('star-half.png') %>",
                          scoreName: 'review[value]', //登録するモデル名とカラム名
                          score: "<%= @review.value %>"
                          });
                        </script>
                      </div>
                    </td>
                  </tr>
                </div>
              </div>
                    
              <div class="form-grop row">
                <div class="col-form-label col-sm-3">
                  <tr class="col-xs-5 border border-dark table-light">    
                    <td>レビュー</td>
                    <td class = "info border border-dark table-info">
                      <%= f.text_area :comment, rows:'5',placeholder: "ここに記入してください" %>
                    </td>
                  </tr>
                </div>
              </div>
                
              <div class="form-grop row">
                <div class="col-form-label col-sm-3">
                  <tr class="col-xs-5 border border-dark table-light">    
                    <td>ネタバレの有無</td>
                    <td class = "info border border-dark table-info">
                      <%= f.select :spoiler,Review.spoilers.keys, include_blank: "選択して下さい" %>
                    </td>
                  </tr>
                </div>
              </div>      
                
            </tbody>
          </table>
          <p><%= f.submit '投稿する',class: "btn btn-success", data: { confirm: "空欄はございませんか?"} %></p>
        <% end %>
        <%= link_to '戻る',reviews_path,class: "text-danger" %>
      </div>
    </div>
  </div>
</div>