<%= form_with model:@review, local:true do |f| %>
    <h1>レビュー詳細</h1>
    投稿日時
    <%= l @review.created_at %>
    <p>タイトル</p>
    <%= @review.title %>
    <p>ジャンル</p>
    <%= @review.review %>
    <p>評価</p>
    
    <p> レビュー内容</p>
    <%= @review.comment %>
    <%= render 'reviews/like', review: @review %>
    <p><%= link_to "レビューを変更する",edit_review_path, data: {"turbolinks" => false} %></p>
    <p><%= link_to "レビューを消去する",review_path(@review),method: :delete %></p>
    <%= link_to '戻る',reviews_path %>
<% end %>