<%= form_with model:@review, local:true do |f| %>
    <h1>レビュー詳細</h1>
    投稿日時
    <%= l @review.created_at %>
    <p>タイトル</p>
    <%= @review.title %>
    <p>ジャンル</p>
    <%= @review.category %>
    <p>評価</p>

    <p> レビュー内容</p>
    <%= @review.comment %>
    <%= render 'reviews/like', review: @review %>
    <% if @review.user == current_user %>
      <p><%= link_to "レビューを変更する",edit_review_path, data: {"turbolinks" => false},class: "btn btn-primary" %></p>
      <p><%= link_to "レビューを消去する",review_path(@review),method: :delete, data: { confirm: "本当に消去されますか?"},class: "btn btn-danger"  %></p>
    <% end %>
    <%= link_to '戻る',reviews_path %>
<% end %>